.vscode
.vagrant

*.log
id_rsa

RecycleBin

Keys/*
!Keys/.gitkeep

Splunk/*
!Splunk/.gitkeep

Jenkins/*
!Jenkins/.gitkeep

collector
test

Docker/data
Docker/gogs
Docker/Jenkins
Docker/nginx
Docker/pgdata
Docker/env