BRAND_NAME = Gogs
RUN_USER   = git
RUN_MODE   = prod

[database]
TYPE     = postgres
HOST     = {{ psql_ip }}:5432
NAME     = {{ postgres_gogs_db_name }}
SCHEMA   = public
USER     = {{ postgres_gogs_user_name }}
PASSWORD = {{ postgres_gogs_user_password }}
SSL_MODE = disable
PATH     = /home/git/gogs/data/gogs.db

[repository]
ROOT           = {{ gogs_data_root }}
DEFAULT_BRANCH = main

[server]
DOMAIN           = 192.168.128.30
HTTP_PORT        = 3000
EXTERNAL_URL     = http://192.168.128.30/
DISABLE_SSH      = false
SSH_PORT         = 2222
START_SSH_SERVER = false
OFFLINE_MODE     = true

[email]
ENABLED = false

[auth]
REQUIRE_EMAIL_CONFIRMATION  = false
DISABLE_REGISTRATION        = false
ENABLE_REGISTRATION_CAPTCHA = true
REQUIRE_SIGNIN_VIEW         = false

[user]
ENABLE_EMAIL_NOTIFICATION = false

[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = false

[session]
PROVIDER = file

[log]
MODE      = file
LEVEL     = Trace
ROOT_PATH = /home/git/gogs/log

[metrics]
ENABLED = true
ENABLE_BASIC_AUTH = false

[security]
INSTALL_LOCK = true
SECRET_KEY   = oSK8R8ICi9kXhZW