# - SPLUNK_HEC_TOKEN: The Splunk HEC authentication token
# - SPLUNK_HEC_URL: The Splunk HEC endpoint URL

receivers:
  postgresql:
    endpoint: localhost:5432
    transport: tcp
    username: "{{ postgres_gogs_user_name }}"
    password: "{{ postgres_gogs_user_password }}"
    databases:
      - "{{ postgres_gogs_db_name }}"
    collection_interval: 10s
    tls:
      insecure: false
      insecure_skip_verify: true
    query_sample_collection:
      enabled: false 
    top_query_collection:
      enabled: true
      top_n_query: 1000

  filelog:
    include: [ /var/log/postgresql/*.log ]
    operators:
      - type: regex_parser
        regex: '^(?P<time>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}) UTC \[\d+\] (?P<user>[^\s]+) (?P<sev>[A-Z]+):\s+(?P<msg>.*)$'
        timestamp:
          parse_from: attributes.time
          layout: '%Y-%m-%d %H:%M:%S'
        severity:
          parse_from: attributes.sev

  hostmetrics:
    collection_interval: 10s
    scrapers:
      cpu:
      load:
      memory:
      network:
  hostmetrics/disk:
    collection_interval: 1m
    scrapers:
      disk:

processors:
  batch:
    timeout: 2s

  resourcedetection:
    detectors: ["system"]
    system:
      hostname_sources: ["os"]

exporters:
  splunk_hec/logs:
    token: "${SPLUNK_HEC_TOKEN}"
    endpoint: "${SPLUNK_HEC_URL}"
    source: "otel"
    index: "psql_logs"
    sourcetype: "json"
    tls:
      insecure_skip_verify: true

  splunk_hec/metrics:
    token: "${SPLUNK_HEC_TOKEN}"
    endpoint: "${SPLUNK_HEC_URL}"
    source: "otel"
    index: "psql_metrics"
    sourcetype: "json"
    tls:
      insecure_skip_verify: true

service:
  pipelines:
    logs:
      receivers: [filelog]
      processors: [resourcedetection, batch]
      exporters: [splunk_hec/logs]
    metrics:
      receivers: [hostmetrics, hostmetrics/disk, postgresql]
      processors: [resourcedetection, batch]
      exporters: [splunk_hec/metrics]
