# - SPLUNK_HEC_TOKEN: The Splunk HEC authentication token
# - SPLUNK_HEC_URL: The Splunk HEC endpoint URL

receivers: 
  hostmetrics:
    collection_interval: 10s
    scrapers:
      cpu:
      load:
      memory:
      network:
  hostmetrics/disk:
    collection_interval: 1m
    scrapers:
      disk:
      filesystem:
        include_mount_points:
          match_type: regexp
          mount_points:
            - ^/mnt/gogs     

processors:
  batch:
    timeout: 2s

  resourcedetection:
    detectors: ["system"]
    system:
      hostname_sources: ["os"]

exporters:
  splunk_hec/metrics:s
    token: "${SPLUNK_HEC_TOKEN}"
    endpoint: "${SPLUNK_HEC_URL}"
    source: "otel"
    index: "nfs_metrics"
    sourcetype: "json"
    tls:
      insecure_skip_verify: true

service:
  pipelines:
    metrics:
      receivers: [hostmetrics, hostmetrics/disk]
      processors: [resourcedetection, batch]
      exporters: [splunk_hec/metrics]