# Sample systemd environment file for passing environment variables to the splunk-otel-collector service and the
# collector configuration file.

# sudo systemctl restart splunk-otel-collector.service

# Command-line options for the splunk-otel-collector service.
# Run `/usr/bin/otelcol --help` to see all available options.
OTELCOL_OPTIONS="--config /etc/otel/collector/agent_config.yaml"

# Path to the config file for the collector.
# Required, unless the OTELCOL_OPTIONS environment variable above includes the '--config <path to config file>' option.
SPLUNK_CONFIG="/etc/otel/collector/agent_config.yaml"

# Splunk HEC endpoint URL
# If you're forwarding to a Splunk Enterprise instance running on example.com, with HEC at port 8088:
SPLUNK_HEC_URL="{{ splunk_hec_url }}"

# Splunk HEC token.
SPLUNK_HEC_TOKEN="{{ splunk_hec_token }}"

# Total memory in MIB to allocate to the collector.
# Automatically configures the memory limit.
SPLUNK_MEMORY_TOTAL_MIB=512

# Network interface the collector receivers listen on.
SPLUNK_LISTEN_INTERFACE=127.0.0.1
